
<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.tesseract.phonegap"
      version="0.1.0">
    <name>Tesseract</name>
    <description>Sample PhoneGap Tesseract Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,tesseract</keywords>
 
 
    <js-module src="www/tesseract.js" name="Tesseract">
        <clobbers target="window.Tesseract" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TesseractStart">
                <param name="android-package" value="com.tesseract.phonegap.TesseractStart"/>
            </feature>			
        </config-file>
		
		
        <source-file src="src/android/TesseractStart.java" target-dir="src/com/tesseract/phonegap/" />  
		<source-file src="src/android/PageIterator.java" target-dir="src/com/googlecode/tesseract/android" />  
		<source-file src="src/android/ResultIterator.java" target-dir="src/com/googlecode/tesseract/android" />  
		<source-file src="src/android/TessBaseAPI.java" target-dir="src/com/googlecode/tesseract/android" />  
		<source-file src="src/android/AdaptiveMap.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Binarize.java" target-dir="src/com/googlecode/leptonica/android" />
		<source-file src="src/android/Box.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Constants.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Convert.java" target-dir="src/com/googlecode/leptonica/android" />   
		<source-file src="src/android/Enhance.java" target-dir="src/com/googlecode/leptonica/android" /> 
		<source-file src="src/android/JpegIO.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Pix.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Pixa.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/ReadFile.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Rotate.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Scale.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/Skew.java" target-dir="src/com/googlecode/leptonica/android" />  
		<source-file src="src/android/WriteFile.java" target-dir="src/com/googlecode/leptonica/android" /> 

		
     </platform>          
</plugin>
